{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style3.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style4colorpro.css') }}">
{% endblock %}
{% block title %}History{% endblock %}
{% block styling %}
body {
            background-image: url("{{ url_for('static', filename='images/Internet_Banner.png') }}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
{% endblock %}
{% block content %}
<div style="width: 100%; height: 25%; display: grid">
    <img style="object-fit: cover; object-position: center; place-self: center; place-content: center" src="{{ url_for('static', filename='images/internet_humor.png') }}" alt="Master Pic"/>
</div>
<div id="main">
        <div id="content" class="float_left gr_width_large">
            <div id="article_title">
                <h1 class="reset_margin_padding">The Birth of the Internet</h1>
            </div>
            <div id="article_body">
                <p class="body">
                    The soviets made America think of a possible threat to our national security. The department of
                    defense relied on technological achievements. Fortunately, during that time period the Advance
                    Research Project Agency (ARPA) was created. This agency was cultivated by Dwight Eisenhower who
                    appointed people that engineered ideas became patents that later connected the world to the
                    internet.
                </p>
                <p class="body">
                    There are many contributors to name however J. C. R. Licklider created the computer information
                    network theory. Under his leadership in computer science ARPANET was formed from the first abstract
                    of the internet today.
                </p>
                <p class="body">
                    Information on the move as Dr Paul Baran help create the term packets. Packets carried data from one
                    point to another destination. This is done by transmitting a file/paper after cutting into small
                    pieces of information. Then sending it along nodes that will stitch the file back together to the
                    end receiver
                </p>
                <p class="body">
                    Historical Internet upgrades brought on the first message/packet is sent in 1969 on a computer
                    screen.
                    Current Link between machines and the network: The originally first four on the network were from
                    universities. The schools were UCLA, Stanford research of technology, Santa Barbara, and Utah. More
                    than 37 computers later were all simultaneously connected to the network by 1972.
                </p>
                <p class="body">
                    Gaps in the Research back then data, and technology did not move as swiftly as it does today. Many
                    people who work endless hours would have to wait three, five or seven years to see their work come
                    to light. For example, colleges settled on building a network beginning linking was Stanford
                    Institute of research and California University. Moreover, years down the line, there was tremendous
                    growth all over the United States with more institutions having subscribed for the interconnection
                    network.
                </p>
            </div>
        </div>
        <div id="sidebar" class="float_left gr_width_small">
            <div id="side_photo" class="margin_left_right_auto">

                <img src="images/Web_begins.png" height="450" width="353" alt="Began"/>
            </div>
        </div>

    </div>
{% endblock %}